.button {
    display: flex;
    justify-content: center;
    min-width: 29.8rem;
    width: 29.8rem;
    background-color: $orange;
    color: $white;
    font-size: 1.6rem;
    line-height: 5.4rem;
    text-transform: uppercase;
    border-radius: 2.5rem;
    transition: 0.2s ease-out;
    &:visited {
        color: $white;
    }
    &:hover, :focus {
        background-color: $dark-orange;
        transition: 0.2s ease-out;
    }
    &:active {
        background-color: $green;
    }
    &.disabled {
        background-color: $gray;
    }
    &_square {
        border-radius: 0.5rem;
    }
    &_tablet {
        @include _640 {
            width: 24rem;
            min-width: 24rem;
        }
    }
}

.arrow {
    display: flex;
    width: 6.2rem;
    height: 6.2rem;
    color: $white;
    background-color: $orange;
    background-image: url(../../assets/images/pets/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    &__left {
        transform: rotate(180deg);
    }
    &:hover, :focus {
        background-color: $dark-orange;
        transition: 0.2s ease-out;
    }
    &:active {
        background-color: $green;
    }
    &.disabled {
        background-color: $gray;
    }
}